<!DOCTYPE html>
<!-- saved from url=(0034)http://showwp.com/demos/ws-garden/ -->
<html lang="vi">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <title>Home | A Garden of Food</title>


    <link rel="stylesheet" type="text/css" href="/static/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/carousel.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!-- COLORS -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="overflow: visible;">
    <div id="wrapper">

        <% include ../../partials/header %>

            <section class="section">
                <div class="main-content">
                    <div class="content">
                        <div class="container detail-reorder">

                            <div class=".row-eq-height m0 mt15 m-15mb">
                                <!-- Col left - SLider  -->
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 p0 pr10 p0mb ">
                                    <video controls autoplay id="idVideo" style="max-width: 100%; min-width: 100%">
                                        <source id="idSourceVideo" src="#" type='video/webm' /> Your browser does not support HTML5 video.
                                    </video>
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <div class="blog-title" style="padding-bottom: 0;">
                                                <br>
                                                <br>
                                                <h3><a href="#" title="" id="idVideoTitle"></a></h3>
                                                <div class="post-meta">
                                                    <span><i class="fa fa-clock-o"></i><a href="#">33 June 2015</a></span>
                                                    <span><i class="fa fa-comments"></i><a href="#">31 Comments</a></span>
                                                    <span><i class="fa fa-eye"></i><a href="#">441 Views</a></span>
                                                    <span><i class="fa fa-share-alt"></i><a href="#">Share</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="pull-right">
                                                <br>
                                                <br>
                                                <a href="/dat-hang-ga" class="btn btn-primary btn-lg">Sản phẩm của hoạt động này</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 p0 pl20">
                                    <div class="k-list-container playlist">
                                        <div id="idNoContent" style="display:none;">Không có thông tin</div>

                                        <ul id="listView" class="k-list k-widget k-listview k-selectable" data-role="listview" role="listbox">

                                        </ul>
                                    </div>
                                    <div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <a href="#" class="btn btn-primary btn-lg">Button</a>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-sm-6">
                                                <a href="#" class="btn btn-primary btn-lg">Button1</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <hr>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section white">
                <div class="container">
                    <div class="shop-top row clearfix">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="title-area pull-left">
                                    <h3>Sản phẩm liên quan</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end shop top -->

                    <div class="row">
                        <div id="content" class="col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-wrapper">
                                <div class="row module-wrapper shop-layout text-center" id="product-container">
                                </div>
                                <!-- end row -->
                            </div>
                            <!-- end blog-wrapper -->

                        </div>
                        <!-- end content -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end section -->

            <% include ../../partials/footer %>

    </div>
    <!-- end wrapper -->
    <script src="/static/js/camera/camera.js"></script>
</body>

</html>