<!DOCTYPE html>
<!-- saved from url=(0034)http://showwp.com/demos/ws-garden/ -->
<html lang="vi">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <title>Home | A Garden of Food</title>


    <link rel="stylesheet" type="text/css" href="/static/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/carousel.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!-- COLORS -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="overflow: visible;">

    <div id="wrapper">
        
        <% include ../../partials/header %>

        <section class="section white">
            <div class="container">
                <div class="general-title text-center">
                    <h4>Đặt hàng rượu</h4>
                    <p class="lead">Hãy xây dựng chum rượu của riêng bạn</p>
                    <hr>
                </div>
                <!-- end general title -->

                <div class="row">
                    <div class="col-md-8">
                        <div class="appoform-wrapper noborder">

                            <div class="contact_form">
                                <div id="message"></div>
                                <form id="contactform" class="row" action="http://showwp.com/demos/ws-garden/contact.php" name="contactform" method="post">
                                    <fieldset class="row-fluid appoform">
                                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label>Loại rượu:</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control">
                                                    <option>Mustard</option>
                                                    <option>Ketchup</option>
                                                    <option>Relish</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label>Dung tích:</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label>Độ rượu:</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control">
                                                    <option>Mustard</option>
                                                    <option>Ketchup</option>
                                                    <option>Relish</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label>Đồ ngâm:</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control">
                                                <option>Mustard</option>
                                                <option>Ketchup</option>
                                                <option>Relish</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label>Số lượng đồ ngâm:</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control">
                                                <option>Mustard</option>
                                                <option>Ketchup</option>
                                                <option>Relish</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Message Below"></textarea>
                                            </div>
                                        </div>
                                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <p class="">
                                                    <br>
                                                    <b>Đơn hàng của bạn bao gồm:</b>
                                                    <div class="workinghours" style="border-top: unset;" >
                                                        <ul>
                                                            <li>Loại rượu<span>Rượu nếp (50.000đ/lít)</span></li>
                                                            <li>Dung tích <span>5 lít</span></li>
                                                            <li>Độ rượu <span>36 độ</span></li>
                                                            <li>Đồ ngâm <span>Ba kích (100.000đ/cân)</span></li>
                                                            <li>Số lượng đồ ngâm <span>3 cân</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="workinghours">
                                                        <ul>
                                                            <li>Tổng cộng: <span>550.000đ</span></li>
                                                        </ul>
                                                    </div>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <button type="submit" value="SEND" id="submit" class="btn btn-primary btn-block btn-lg"> Đặt ngay</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                        <!-- end form-container -->
                    </div>
                    <!-- end col -->
                    <div class="col-md-4">
                        <p class="workinghours">
                            Bạn có thể tự xây dựng chum rượu tùy theo sở thích của bạn. Để xây dựng chum rượu bạn vui lòng chọn các thông tin dưới đây
                            để đặt hàng. Nhân viên tư vấn của chúng tôi sẽ liên lạc với bạn để tư vấn thêm cho bạn.
                            <br>
                            Cảm ơn bạn đã ủng hộ chúng tôi!
                        </p>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end section -->

        <% include ../../partials/footer %>
    </div>
    <!-- end wrapper -->
   

    <style>
        select {
            width: 100%;
        }
        label {
            font-weight: bold;
        }
    </style>
</body>
<script src="/static/js/bootstrap-select.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/js/dat-hang-ruou/dat-hang-ruou.js"></script>



</html>