<style>
    footer {
        position: relative;
        background-image: url("/static/images/footer.jpg");
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        padding-top: 30px
    }
    
    footer::before {
        background: rgba(44, 60, 31, 0.8) none repeat scroll 0 0;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .h5-footer {
        font-family: MyriadPro-Bold;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 20px;
        color: #FFffff;
    }
    
    .h5-footer::after {
        background: #d4f715;
        height: 1px;
        width: 60px;
        content: "";
        display: block;
        margin-top: 10px;
    }
    
    footer {
        font-size: 14px;
    }
    
    footer a {
        color: #FFffff;
    }
    
    footer ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    footer ul li {
        padding-bottom: 5px;
    }
    
    .copyright {
        background: rgba(0, 0, 0, 0.4);
        color: #828282;
        padding: 7px 0;
        position: relative;
        margin-top: 30px;
    }
</style>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 col-footer">
                <div class="widget">
                    <div class="widget-title">
                        <h5 class="h5-footer">CÔNG TY THỰC PHẨM SẠCH RAVI</h5>
                    </div>
                    <ul class="site-links">
                        <li><i class="fa fa-link"></i> www.yoursite.com</li>
                        <li><i class="fa fa-envelope"></i> info@yoursite.com</li>
                        <li><i class="fa fa-phone"></i> +90 123 45 67</li>
                        <li><i class="fa fa-fax"></i> +90 123 45 68</li>
                        <li><i class="fa fa-home"></i> Số 1 Phạm Văn Bạch, Cầu Giấy, HN</li>
                    </ul>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-google"></i></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 col-footer">
                <h5 class="h5-footer">VỀ CHÚNG TÔI</h5>
                <ul>
                    <li><a href="#">Giới thiệu về công ty</a></li>
                    <li><a href="#">Triết lý kinh doanh</a></li>
                    <li><a href="#">Q & A</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6 col-footer">
                <h5 class="h5-footer">Th&ocirc;ng tin</h5>
                <ul>
                    <li><a href="#">Hệ thống kh&aacute;ch h&agrave;ng</a></li>
                    <li><a href="#">Chứng nhận chất lượng</a></li>
                    <li><a href="#">Video giới thiệu</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>© 2018 <a href="#" title="Show WP">EzC team</a> All rights reserved</p>
        </div>
    </div>
</footer>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>