<style>
    .buy-now {
        display: inline-block;
        line-height: 52px;
        border: 2px solid #6bb52a;
        color: #6bb52a;
        text-transform: uppercase;
        font-family: "helveticaneuemedium";
        margin-top: 14px;
        text-align: center;
        width: 100%;
    }
</style>
<style>
    .modal-open {
        padding-right: 0px !important;
    }
    /*
 * Specific styles of signin component
 */
    /*
 * General styles
 */
    
    .card-container.card {
        max-width: 350px;
        padding: 40px 40px;
    }
    
    .btn {
        font-weight: 700;
        /* height: 36px; */
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
    }
    /*
 * Card component
 */
    
    .card {
        background-color: #F7F7F7;
        /* just in case there no content*/
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    
    .profile-img-card {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    /*
 * Form styles
 */
    
    .profile-name-card {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 0;
        min-height: 1em;
    }
    
    .reauth-email {
        display: block;
        color: #404040;
        line-height: 2;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .form-signin #inputEmail,
    .form-signin #inputPassword {
        direction: ltr;
        height: 44px;
        font-size: 16px;
    }
    
    .form-signin input[type=email],
    .form-signin input[type=password],
    .form-signin input[type=text],
    .form-signin button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .form-signin .form-control:focus {
        border-color: rgb(104, 145, 162);
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
    }
    
    .btn.btn-signin {
        /*background-color: #4d90fe; */
        background-color: rgb(104, 145, 162);
        /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        height: 36px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;
    }
    
    .btn.btn-signin:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
        background-color: rgb(12, 97, 33);
    }
    
    .forgot-password {
        color: rgb(104, 145, 162);
    }
    
    .forgot-password:hover,
    .forgot-password:active,
    .forgot-password:focus {
        color: rgb(12, 97, 33);
    }
</style>
<!-- Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 350px;">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label style="padding-left : 0px">
                        <input type="checkbox" value="remember-me" style=" -webkit-appearance: checkbox;position: relative; vertical-align: middle;"> Ghi nhớ đăng nhập
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Đăng nhập</button>
            </form>
            <!-- /form -->
            <a href="#" class="forgot-password">
                Quên mật khẩu?
            </a>
            </br></br>
             <a href="#" class="forgot-password">
                Đăng ký?
            </a>
        </div>
        <!-- /card-container -->
    </div>
</div>

<div class="topbar clearfix">
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-6 text-left">
                <div class="social">
                    <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                </div>
                <!-- end social -->
            </div>
            <!-- end left -->
            <div class="col-md-6 text-right">
                <p>
                    <!--<strong><i class="fa fa-phone"></i></strong> +84 167 835 1329 &nbsp;&nbsp;
                    <strong><i class="fa fa-envelope"></i></strong> <a href="mailto:nguyenhaiduy2894@gmail.com">nguyenhaiduy2894@gmail.com</a>-->

                    <a href="#" data-toggle="modal" data-target="#myModalNorm"> Đăng nhập</a> &nbsp; | &nbsp;
                    <a href="#" data-toggle="modal" data-target="#myModalNorm"> Đăng ký</a>
                </p>
            </div>
            <!-- end left -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end topbar -->
<header class="header">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <nav class="navbar yamm navbar-default">
                    <div class="container-full">
                        <div class="navbar-table">
                            <div class="navbar-cell">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt="Ova"></a>
                                    <div>
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="fa fa-bars"></span>
                                                </button>
                                    </div>
                                </div>
                                <!-- end navbar-header -->
                            </div>
                            <!-- end navbar-cell -->

                            <div class="navbar-cell stretch">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                    <div class="navbar-cell">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="/" class="active">Trang chủ</a></li>
                                            <li class="dropdown has-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Camera trực tuyến <span class="fa fa-angle-down"></span></a>
                                                <ul class="dropdown-menu start-left">
                                                    <li><a href="/trang-chu-ruou">Bình rượu</a></li>
                                                    <li><a href="/trang-chu-ga">Chuồng gà</a></li>
                                                    <li><a href="/camera">Xem lại camera</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown has-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản phẩm <span class="fa fa-angle-down"></span></a>
                                                <ul class="dropdown-menu start-left">
                                                    <li><a href="/san-pham-ruou">Rượu</a></li>
                                                    <li><a href="/san-pham-ga">Gà</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/tin-tuc">Tin tức</a></li>
                                            <li><a href="/gioi-thieu">Giới thiệu</a></li>
                                            <li><a href="/lien-he">Liên hệ</a></li>
                                        </ul>
                                    </div>
                                    <!-- end navbar-cell -->
                                </div>
                                <!-- /.navbar-collapse -->
                            </div>
                            <!-- end navbar cell -->
                        </div>
                        <!-- end navbar-table -->
                    </div>
                    <!-- end container fluid -->
                </nav>
                <!-- end navbar -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</header>