<!DOCTYPE html>
<!-- saved from url=(0034)http://showwp.com/demos/ws-garden/ -->
<html lang="vi">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <title>Home | A Garden of Food</title>


    <link rel="stylesheet" type="text/css" href="/static/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/carousel.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!-- COLORS -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="overflow: visible;">
    <style>
        .k-mediaplayer {
            float: left;
            box-sizing: border-box;
            width: 70%;
        }
        
        .playlist {
            float: left;
            height: 350px;
            overflow: auto;
            /*width: 30%;*/
        }
        
        @media(max-width: 768px) {
            .playlist,
            .k-mediaplayer {
                width: 100%;
            }
            .playlist {
                float: left;
                height: 200px;
                overflow: auto;
                /*width: 30%;*/
            }
        }
        
        @media(max-width: 1024px) {
            .playlist,
            .k-mediaplayer {
                width: 100%;
            }
            .playlist {
                float: left;
                height: 280px;
                overflow: auto;
                /*width: 30%;*/
            }
        }
        
        .playlist ul,
        .playlist li {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        .playlist .k-item {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            padding: 14px 15px;
        }
        
        .playlist .k-item:last-child {
            border-bottom-width: 0;
        }
        
        .playlist span {
            cursor: pointer;
            display: block;
            overflow: hidden;
            text-decoration: none;
        }
        
        .playlist span img {
            border: 0 none;
            display: block;
            height: 56px;
            object-fit: cover;
            width: 100px;
            float: left;
        }
        
        .playlist h5 {
            display: block;
            font-weight: normal;
            margin: 0;
            overflow: hidden;
            padding-left: 10px;
            text-align: left;
        }
    </style>
    <div id="wrapper">
      

        <% include ../../partials/header %>

        <section class="section">
            <div class="main-content">
                <div class="content">
                    <div class="container detail-reorder">

                        <div class=".row-eq-height m0 mt15 m-15mb">
                            <!-- Col left - SLider  -->
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 p0 pr10 p0mb ">
                                <!--<video controls style="max-width: 100%">
                                    <source src="/static/videos/2.mp4" type="video/mp4"> Your browser does not support HTML5 video.
                                </video>-->
                                <canvas id="mjpeg-container" style="max-width: 100%"></canvas>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="blog-title" style="padding-bottom: 0;">
                                            <br>
                                            <br>
                                            <h3><a href="#" title="">Custom Garden Gallery Style with Carousel</a></h3>
                                            <div class="post-meta">
                                                <span><i class="fa fa-clock-o"></i><a href="#">33 June 2015</a></span>
                                                <span><i class="fa fa-comments"></i><a href="#">31 Comments</a></span>
                                                <span><i class="fa fa-eye"></i><a href="#">441 Views</a></span>
                                                <span><i class="fa fa-share-alt"></i><a href="#">Share</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="pull-right">
                                            <br>
                                            <br>
                                            <a href="/dat-hang-ga" class="btn btn-primary btn-lg">Đặt hàng</a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 p0 pl20">
                                <div class="k-list-container playlist">
                                    <ul id="listView" class="k-list k-widget k-listview k-selectable" data-role="listview" role="listbox">
                                        <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                            data-uid="867c82c9-a7e9-4195-a107-5b81606d783e" role="option" aria-selected="false">
                                            <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Telerik Platform - Enterprise Mobility. Unshackled.</h5>
                                    </span>
                                        </li>
                                        <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                            data-uid="867c82c9-a7e9-4195-a107-5b81606d783e" role="option" aria-selected="false">
                                            <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Telerik Platform - Enterprise Mobility. Unshackled.</h5>
                                    </span>
                                        </li>
                                        <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                            data-uid="867c82c9-a7e9-4195-a107-5b81606d783e" role="option" aria-selected="false">
                                            <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Telerik Platform - Enterprise Mobility. Unshackled.</h5>
                                    </span>
                                        </li>
                                        <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                            data-uid="867c82c9-a7e9-4195-a107-5b81606d783e" role="option" aria-selected="false">
                                            <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Telerik Platform - Enterprise Mobility. Unshackled.</h5>
                                    </span>
                                        </li>
                                        <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                            data-uid="867c82c9-a7e9-4195-a107-5b81606d783e" role="option" aria-selected="false">
                                            <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Telerik Platform - Enterprise Mobility. Unshackled.</h5>
                                    </span>
                                        </li>
                                        <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                            data-uid="23952d40-c05d-46f1-b87e-c72f2a0b4d3b" role="option" aria-selected="false">
                                            <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Learn How York Solved Its Database Problem</h5>
                                    </span>
                                        </li>

                                        <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                            data-uid="378a7850-51c0-4c7d-86b2-0ea2e33cb2d2" role="option" aria-selected="false">
                                            <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Responsive Website Delivers for Reeves Import Motorcars</h5>
                                    </span>
                                        </li>

                                        <li class="k-item k-state-default k-state-selected" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                            data-uid="7897fe0f-f550-4d5d-a333-ffcf175072c2" role="option" aria-selected="true">
                                            <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Digital Transformation: A New Way of Thinking</h5>
                                    </span>
                                        </li>

                                        <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                            data-uid="30c68b94-fffa-4493-9948-7b70ec702c18" role="option" aria-selected="false">
                                            <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Take a Tour of the Telerik Platform</h5>
                                    </span>
                                        </li>

                                        <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                            data-uid="8aee313d-4077-437b-9db0-60de0f65e0a8" role="option" aria-selected="false">
                                            <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Why Telerik Analytics - Key Benefits For Your Applications</h5>
                                    </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                       <div class="col-md-6 col-sm-6 col-xs-6">
                                           <a href="#" class="buy-now">Button</a>
                                       </div>
                                       <div class="col-md-6 col-sm-6 col-xs-6">
                                           <a href="#" class="buy-now">Button1</a>
                                       </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <hr>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <section class="section white">
            <div class="container">
                <div class="shop-top row clearfix">
                    <div class="title-area pull-left">
                        <h3>Sản phẩm liên quan</h3>
                    </div>
                </div>
                <!-- end shop top -->

                <div class="row">
                    <div id="content" class="col-md-12 col-sm-12 col-xs-12">
                        <div class="blog-wrapper">
                            <div class="row module-wrapper shop-layout text-center">
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/san-pham/1.jpg" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/san-pham-ga">Sản phẩm gà</a></h4>
                                    <small>Thông tin cơ bản</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/san-pham/1.jpg" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/san-pham-ga">Sản phẩm gà</a></h4>
                                    <small>Thông tin cơ bản</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/san-pham/1.jpg" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/san-pham-ga">Sản phẩm gà</a></h4>
                                    <small>Thông tin cơ bản</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/san-pham/1.jpg" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/san-pham-ga">Sản phẩm gà</a></h4>
                                    <small>Thông tin cơ bản</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/san-pham/1.jpg" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/san-pham-ga">Sản phẩm gà</a></h4>
                                    <small>Thông tin cơ bản</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/san-pham/1.jpg" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/san-pham-ga">Sản phẩm gà</a></h4>
                                    <small>Thông tin cơ bản</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/san-pham/1.jpg" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/san-pham-ga">Sản phẩm gà</a></h4>
                                    <small>Thông tin cơ bản</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/san-pham/1.jpg" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/san-pham-ga">Sản phẩm gà</a></h4>
                                    <small>Thông tin cơ bản</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/san-pham/1.jpg" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/san-pham-ga">Sản phẩm gà</a></h4>
                                    <small>Thông tin cơ bản</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/san-pham/1.jpg" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/san-pham-ga">Sản phẩm gà</a></h4>
                                    <small>Thông tin cơ bản</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end blog-wrapper -->

                    </div>
                    <!-- end content -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end section -->


        <% include ../../partials/footer %>

    </div>
    <!-- end wrapper -->

    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/video-truc-truyen-ga/video-truc-truyen-ga.js"></script>
    <script src="/static/js/common/mjpeg.js"></script>


</body>

</html>