<!DOCTYPE html>
<!-- saved from url=(0034)http://showwp.com/demos/ws-garden/ -->
<html lang="vi">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <title>Home | A Garden of Food</title>


    <link rel="stylesheet" type="text/css" href="/static/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/carousel.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!-- COLORS -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="overflow: visible;">

    <div id="wrapper">
         
        <% include ../../partials/header %>

        <section class="section white">
            <div class="container">
                <div class="blog-image">
                    <video controls autoplay>
                        <source src="/static/videos/2.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>
        </section>
        <section class="section white">
            <div class="container">
                <div class="shop-top row clearfix">
                    <div class="title-area pull-left">
                        <h3>Danh sách Camera</h3>
                    </div>
                </div>
                <!-- end shop top -->

                <div class="row">
                    <div id="content" class="col-md-12 col-sm-12 col-xs-12">
                        <div class="blog-wrapper">
                            <div class="row module-wrapper shop-layout text-center">
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/device_03.png" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/video-truc-tuyen-ga">Tên chuồng gà</a></h4>
                                    <small>Thông tin chi tiết</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/device_03.png" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/video-truc-tuyen-ga">Tên chuồng gà</a></h4>
                                    <small>Thông tin chi tiết</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/device_03.png" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/video-truc-tuyen-ga">Tên chuồng gà</a></h4>
                                    <small>Thông tin chi tiết</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/device_03.png" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/video-truc-tuyen-ga">Tên chuồng gà</a></h4>
                                    <small>Thông tin chi tiết</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/device_03.png" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/video-truc-tuyen-ga">Tên chuồng gà</a></h4>
                                    <small>Thông tin chi tiết</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/device_03.png" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/video-truc-tuyen-ga">Tên chuồng gà</a></h4>
                                    <small>Thông tin chi tiết</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/device_03.png" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/video-truc-tuyen-ga">Tên chuồng gà</a></h4>
                                    <small>Thông tin chi tiết</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/device_03.png" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/video-truc-tuyen-ga">Tên chuồng gà</a></h4>
                                    <small>Thông tin chi tiết</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/device_03.png" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/video-truc-tuyen-ga">Tên chuồng gà</a></h4>
                                    <small>Thông tin chi tiết</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->
                                <div class="col-md-3 col-sm-3 shop-item">
                                    <div class="entry">
                                        <img class="img-responsive" src="/static/images/device_03.png" alt="">
                                        <div class="magnifier">
                                            <div class="buttons">
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-shopping-cart"></span></a>
                                                <a class="st" rel="bookmark" href="#"><span class="fa fa-link"></span></a>
                                            </div>
                                        </div>
                                        <!-- end magnifier -->
                                    </div>
                                    <!-- end entry -->
                                    <h4><a href="/video-truc-tuyen-ga">Tên chuồng gà</a></h4>
                                    <small>Thông tin chi tiết</small>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(12)</span>
                                    </div>
                                </div>
                                <!-- end shop_item -->

                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end blog-wrapper -->

                    </div>
                    <!-- end content -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end section -->

        <section class="section white">
            <div class="container">
                <div class="general-title text-center">
                    <h4>Sự lựa chọn hoàn hảo để bảo vệ sức khỏe gia đình bạn</h4>
                    <p class="lead">Lý do chọn chúng tôi!</p>
                    <hr>
                </div>
                <!-- end general title -->

                <div class="row module-wrapper text-center">
                    <div class="col-md-3 col-sm-3 why-us">
                        <img src="/static/images/icon_01.png" alt="" class="wow fadeIn">
                        <strong>Sản xuất</strong>
                        <p>Nuôi trồng ứng dụng công nghệ vi sinh EM Green của Nhật</p>
                    </div>
                    <!-- end col -->

                    <div class="col-md-3 col-sm-3 why-us">
                        <img src="/static/images/icon_02.png" alt="" class="wow fadeIn">
                        <strong>Giết mổ</strong>
                        <p>Giết mổ treo, sơ chế theo tiêu chuẩn Châu Âu</p>
                    </div>
                    <!-- end col -->

                    <div class="col-md-3 col-sm-3 why-us">
                        <img src="/static/images/icon_03.png" alt="" class="wow fadeIn">
                        <strong>Bảo quản</strong>
                        <p>Thịt cấp đông sâu tới -40độ C, bảo quản theo công nghệ Châu Âu</p>
                    </div>
                    <!-- end col -->

                    <div class="col-md-3 col-sm-3 why-us">
                        <img src="/static/images/icon_04.png" alt="" class="wow fadeIn">
                        <strong>Phân phối</strong>
                        <p>Phân phối trực tiếp đến tay người sử dụng sản phẩm có nguồn gốc chất lượng rõ ràng</p>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end module-wrapper -->
            </div>
            <!-- end container -->
        </section>
        <!-- end section -->
        <% include ../../partials/footer %>

    </div>
    <!-- end wrapper -->
    <script src="/static/js/trang-chu-ga/trang-chu-ga.js"></script>


</body>

</html>