<!DOCTYPE html>
<!-- saved from url=(0034)http://showwp.com/demos/ws-garden/ -->
<html lang="en">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <title>WS Garden | A Garden Responsive HTML Template</title>

    <link rel="shortcut icon" href="http://showwp.com/demos/ws-garden/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-152x152.png">

    <link rel="stylesheet" type="text/css" href="/static/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">


    <!-- custom-->
    <link href="/static/css/san-pham/main1.css" rel="stylesheet" media="all">
    <link href="/static/css/san-pham/desktop.min.css" rel="stylesheet" media="all">
    <link href="/static/css/san-pham/mobile.min.css" rel="stylesheet" media="all">
    <link href="/static/css/san-pham/tablet.min.css" rel="stylesheet" media="all">

</head>

<body style="overflow: visible;">

    <div id="wrapper">

        <% include ../../partials/header %>

    </div>
    <section class="section">
        <div class="main-content">
            <div class="content">
                <div class="container detail-reorder">

                    <!-- Row slider + Giá bán -->
                    <div class="row m0 mt15 m-15mb">
                        <!-- Col left - SLider  -->
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 p0 pr10 p0mb ">
                            <!-- <div class="list-detail-xe" id="div-2nd"><div class="cols-5"><div class="detail-xe"><i class="icon-sprite icon-status"></i><b> Đã qua SD</b></div><div class="detail-xe"><i class="icon-sprite icon-dong-xe"></i><b> Toyota Vios</b></div></div><div class="cols-5"><div class="detail-xe"><i class="icon-sprite icon-km"></i><b> 14.000 km</b></div><div class="detail-xe"><i class="icon-sprite icon-nam-sx"></i><b> 2017</b></div></div><div class="cols-5"><div class="detail-xe"><i class="icon-sprite icon-hop-so"></i><b> Số sàn</b></div><div class="detail-xe"><i class="icon-sprite icon-dan-dong"></i><b> Một cầu</b></div></div><div class="cols-5"><div class="detail-xe"><i class="icon-sprite icon-nhien-lieu"></i><b> Xăng</b></div><div class="detail-xe"><i class="icon-sprite icon-mau-xe"></i><b> Trắng</b></div></div><div class="cols-5"><div class="detail-xe"><i class="icon-sprite icon-ng-ban"></i><b> Đại lý</b></div><div class="detail-xe"><i class="icon-sprite icon-xuat-xu"></i><b> Việt Nam</b></div></div></div> -->
                            <!-- <img src="template/img/slider-detail.png"> -->
                            <div class="slider-detail slider-detail-sold" id="div-1st">

                            </div>
                            <!-- End Col left - SLider  -->
                            <!-- Col right - Giá  -->
                            <!--<div class="col-xs-12 col-sm-4 p0 pl20">


                            </div>-->
                            <!-- End Col right - Giá  -->
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p0 pl20">
                            <div class="k-list-container playlist">
                                <ul id="listView" class="k-list k-widget k-listview k-selectable" data-role="listview" role="listbox">

                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a href="#" class="buy-now"><span class="glyphicon glyphicon-shopping-cart"></span>Mua hàng</a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a href="#" class="buy-now"><span class="glyphicon glyphicon-shopping-cart"></span>Quan tâm</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <hr>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="section white">
        <div class="container">
            <div class="shop-top row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="title-area pull-left">
                        <h3>Sản Phẩm Liên Quan</h3>
                    </div>
                    <!-- /.pull-right -->
                    <div class="pull-right" style="display: none;">
                        <select class="selectpicker bs-select-hidden" data-style="btn-primary">
                            <option value="menu_order">Default sorting</option>
                            <option value="popularity">Sort by popularity</option>
                            <option value="rating">Sort by average rating</option>
                            <option value="date">Sort by newness</option>
                            <option value="price">Sort by price: low to high</option>
                            <option value="price-desc">Sort by price: high to low</option> 
                        </select>
                        <div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" title="Default sorting"><span class="filter-option pull-left">Default sorting</span>&nbsp;<span class="caret"></span></button>
                            <div class="dropdown-menu open">
                                <ul class="dropdown-menu inner" role="menu">
                                    <li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Default sorting</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    <li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sort by popularity</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    <li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sort by average rating</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    <li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sort by newness</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    <li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sort by price: low to high</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    <li data-original-index="5"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sort by price: high to low</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.pull-right -->
            </div>
            <!-- end shop top -->

            <div class="row">
                <div id="content" class="col-md-12 col-sm-12 col-xs-12">
                    <div class="blog-wrapper">
                        <div class="row module-wrapper shop-layout text-center" id="relatedProduct">

                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end blog-wrapper -->

                </div>
                <!-- end content -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end section -->

    <% include ../../partials/footer %>
        <style>
            .widget-body,
            .price-table widget,
            .preview-form,
            .new-content,
            .car-detail-table {
                font-family: Proxima Nova;
            }
        </style>


        <script src="/static/js/san-pham/jquery.min.js"></script>
        <script src="/static/js/san-pham/owl.carousel.min.js"></script>
        <script src="/static/js/san-pham/san-pham.js"></script>
        <script src="/static/js/san-pham/detail.min.js"></script>
        <!-- <script src="/static/js/san-pham/san-pham.js"></script> -->

</body>

</html>