<!DOCTYPE html>
<!-- saved from url=(0034)http://showwp.com/demos/ws-garden/ -->
<html lang="vi">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <title>Home | A Garden of Food</title>


    <link rel="stylesheet" type="text/css" href="/static/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/carousel.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!-- COLORS -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="overflow: visible;">

    <div id="loader">
        <div class="loader-container">
            <img src="/static/images/load.gif" alt="" class="loader-site spinner">
        </div>
    </div>

    <div id="wrapper">
        <% include ../partials/header %>

            <div class="slider-section">
                <div class="tp-banner-container">
                    <div class="tp-banner">
                        <ul>
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-thumb="http://showwp.com/demos/ws-garden/upload/slider_02.jpg"
                                data-saveperformance="off" data-title="Ravi">
                                <img src="http://showwp.com/demos/ws-garden/upload/slider_02.jpg" alt="fullslide1" data-bgposition="center top" data-bgfit="cover"
                                    data-bgrepeat="no-repeat">
                                <div class="tp-caption slider_layer_02 text-center lft tp-resizeme" data-x="center" data-y="230" data-speed="1000" data-start="800"
                                    data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
                                    data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Khách hàng RAVI?
                                </div>
                                <div class="tp-caption slider_layer_01 text-center lft tp-resizeme" data-x="center" data-y="295" data-speed="1000" data-start="1200"
                                    data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
                                    data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Hệ thống phân phối sản phẩm Ravi
                                </div>
                            </li>
                            <li data-transition="fade" data-slotamount="2" data-masterspeed="500" data-thumb="http://showwp.com/demos/ws-garden/upload/slider_01.jpg"
                                data-saveperformance="off" data-title="Ravi">
                                <img src="http://showwp.com/demos/ws-garden/upload/slider_01.jpg" alt="fullslide1" data-bgposition="center top" data-bgfit="cover"
                                    data-bgrepeat="no-repeat">
                                <div class="tp-caption slider_layer_02 text-center lft tp-resizeme" data-x="center" data-y="230" data-speed="1000" data-start="800"
                                    data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
                                    data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Khách hàng RAVI?
                                </div>
                                <div class="tp-caption slider_layer_01 text-center lft tp-resizeme" data-x="center" data-y="295" data-speed="1000" data-start="1200"
                                    data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
                                    data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Hệ thống phân phối sản phẩm Ravi
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <section class="section grey">
                <div class="container">
                    <div class="general-title text-center">
                        <h4>Sự lựa chọn hoàn hảo để bảo vệ sức khỏe gia đình bạn</h4>
                        <p class="lead">Lý do chọn chúng tôi!</p>
                        <hr>
                    </div>
                    <!-- end general title -->

                    <div class="row module-wrapper text-center">
                        <div class="col-md-3 col-sm-3 why-us">
                            <img src="/static/images/icon_01.png" alt="" class="wow fadeIn">
                            <strong>Sản xuất</strong>
                            <p>Nuôi trồng ứng dụng công nghệ vi sinh EM Green của Nhật</p>
                        </div>
                        <!-- end col -->

                        <div class="col-md-3 col-sm-3 why-us">
                            <img src="/static/images/icon_02.png" alt="" class="wow fadeIn">
                            <strong>Giết mổ</strong>
                            <p>Giết mổ treo, sơ chế theo tiêu chuẩn Châu Âu</p>
                        </div>
                        <!-- end col -->

                        <div class="col-md-3 col-sm-3 why-us">
                            <img src="/static/images/icon_03.png" alt="" class="wow fadeIn">
                            <strong>Bảo quản</strong>
                            <p>Thịt cấp đông sâu tới -40độ C, bảo quản theo công nghệ Châu Âu</p>
                        </div>
                        <!-- end col -->

                        <div class="col-md-3 col-sm-3 why-us">
                            <img src="/static/images/icon_04.png" alt="" class="wow fadeIn">
                            <strong>Phân phối</strong>
                            <p>Phân phối trực tiếp đến tay người sử dụng sản phẩm có nguồn gốc chất lượng rõ ràng</p>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end module-wrapper -->

                    <hr class="invis">

                    <div id="owl-sticky" class="row sticky-row">
                        <div class="sticky-col">
                            <div class="imageWrapper">
                                <img src="http://showwp.com/demos/ws-garden/upload/stick_02.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="big-meta">
                                <h3>
                                    <a href="services.html">Trứng gà</a>
                                </h3>
                            </div>
                        </div>
                        <div class="sticky-col">
                            <div class="imageWrapper">
                                <img src="http://showwp.com/demos/ws-garden/upload/stick_05.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="big-meta">
                                <h3>
                                    <a href="services.html">Thịt gà</a>
                                </h3>
                            </div>
                        </div>
                        <div class="sticky-col">
                            <div class="imageWrapper">
                                <img src="http://showwp.com/demos/ws-garden/upload/stick_04.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="big-meta">
                                <h3>
                                    <a href="services.html">Rượu</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->


                </div>
                <!-- end container -->
            </section>
            <!-- end section -->

            <section class="section white" style="display:none;">
                <div class="container">
                    <div class="general-title text-center">
                        <h4>Our Team</h4>
                        <p class="lead">Listed below our awesome team members!</p>
                        <hr>
                    </div>
                    <!-- end general title -->
                    <div class="row module-wrapper text-center">
                        <div class="col-md-3 col-sm-3 team-member">
                            <div class="entry">
                                <img class="img-responsive" src="/static/images/team_01.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-envelope"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-google-plus"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </div>
                                </div>
                                <!-- end magnifier -->
                            </div>
                            <!-- end entry -->
                            <h4>Jonny DOE</h4>
                            <p>Cras dapibus. Vivamus elementum semper Aenean vulementum semper Aenean vulputate eleifend tellus.
                            </p>
                        </div>
                        <!-- end team_member -->

                        <div class="col-md-3 col-sm-3 team-member">
                            <div class="entry">
                                <img class="img-responsive" src="/static/images/team_02.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-envelope"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-google-plus"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </div>
                                </div>
                                <!-- end magnifier -->
                            </div>
                            <!-- end entry -->
                            <h4> Amanda DARKIL</h4>
                            <p>Cras dapibus. Vivamus elementum semper Aenean vulementum semper Aenean vulputate eleifend tellus.
                            </p>
                        </div>
                        <!-- end team_member -->

                        <div class="col-md-3 col-sm-3 team-member">
                            <div class="entry">
                                <img class="img-responsive" src="/static/images/team_03.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-envelope"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-google-plus"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </div>
                                </div>
                                <!-- end magnifier -->
                            </div>
                            <!-- end entry -->
                            <h4> Linda MERRY</h4>
                            <p>Cras dapibus. Vivamus elementum semper Aenean vulementum semper Aenean vulputate eleifend tellus.
                            </p>
                        </div>
                        <!-- end team_member -->

                        <div class="col-md-3 col-sm-3 team-member">
                            <div class="entry">
                                <img class="img-responsive" src="/static/images/team_04.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-envelope"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-google-plus"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </div>
                                </div>
                                <!-- end magnifier -->
                            </div>
                            <!-- end entry -->
                            <h4> Boby TYLON</h4>
                            <p>Cras dapibus. Vivamus elementum semper Aenean vulementum semper Aenean vulputate eleifend tellus.
                            </p>
                        </div>
                        <!-- end team_member -->
                    </div>
                    <!-- row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end section -->

            <section class="section grey" style="display: none;">
                <div class="container">
                    <div class="general-title text-center">
                        <h4>Sản phẩm</h4>
                        <p class="lead">Danh sách các sản phẩm nổi bật!</p>
                        <hr>
                    </div>
                    <!-- end general title -->

                    <div class="row module-wrapper shop-layout text-center">
                        <div class="col-md-3 col-sm-3 shop-item">
                            <div class="entry">
                                <img class="img-responsive" src="/static/images/shop_01.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-shopping-cart"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-link"></span>
                                        </a>
                                    </div>
                                </div>
                                <!-- end magnifier -->
                            </div>
                            <!-- end entry -->
                            <h4>
                                <a href="#">Cuốc</a>
                            </h4>
                            <small>$21.00</small>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>(12)</span>
                            </div>
                        </div>
                        <!-- end shop_item -->

                        <div class="col-md-3 col-sm-3 shop-item">
                            <div class="entry">
                                <img class="img-responsive" src="/static/images/shop_02.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-shopping-cart"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-link"></span>
                                        </a>
                                    </div>
                                </div>
                                <!-- end magnifier -->
                            </div>
                            <!-- end entry -->
                            <h4>
                                <a href="#">Xẻng</a>
                            </h4>
                            <small>$21.00</small>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span>(3)</span>
                            </div>
                        </div>
                        <!-- end shop_item -->

                        <div class="col-md-3 col-sm-3 shop-item">
                            <div class="entry">
                                <img class="img-responsive" src="/static/images/shop_03.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-shopping-cart"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-link"></span>
                                        </a>
                                    </div>
                                </div>
                                <!-- end magnifier -->
                            </div>
                            <!-- end entry -->
                            <h4>
                                <a href="#">Ô-roa</a>
                            </h4>
                            <small>$21.00</small>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>(6)</span>
                            </div>
                        </div>
                        <!-- end shop_item -->

                        <div class="col-md-3 col-sm-3 shop-item">
                            <div class="entry">
                                <img class="img-responsive" src="/static/images/shop_04.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-shopping-cart"></span>
                                        </a>
                                        <a class="st" rel="bookmark" href="#">
                                            <span class="fa fa-link"></span>
                                        </a>
                                    </div>
                                </div>
                                <!-- end magnifier -->
                            </div>
                            <!-- end entry -->
                            <h4>
                                <a href="#">Chậu hoa </a>
                            </h4>
                            <small>$21.00</small>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span>(22)</span>
                            </div>
                        </div>
                        <!-- end shop_item -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end section -->

            <section class="section white padding-bottom">
                <div class="container">
                    <div class="general-title text-center">
                        <h4>Đánh giá của khách hàng</h4>
                        <p class="lead">Những lời chia sẻ của những vị khách tuyệt vời!</p>
                        <hr>
                    </div>
                    <!-- end general title -->

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row testimonials">
                                <div class="col-sm-4">
                                    <blockquote>
                                        <p class="clients-words">“Trước khi mua bất kì món hàng nào thì điều đầu tiên khách hàng muốn là Tin, tin
                                            vào chất lượng sản phẩm thực phẩm sạch đang bán.
                                        </p>
                                        <span class="clients-name text-primary">Phạm Thành Long</span>
                                        <img class="img-circle img-thumbnail" src="/static/images/testi_01.jpg" alt="">
                                    </blockquote>
                                </div>
                                <div class="col-sm-4">
                                    <blockquote>
                                        <p class="clients-words">“Tôi là khách quen của ORFARM. Đây là đơn vị lớn tại Hà Nội với đội ngũ chăm sóc
                                            khách hàng rất nhiệt tình và chuyên nghiệp, sản phẩm rất uy tín. ”
                                        </p>
                                        <span class="clients-name text-primary">Nguyễn Minh Nguyệt</span>
                                        <img class="img-circle img-thumbnail" src="/static/images/testi_02.jpg" alt="">
                                    </blockquote>
                                </div>
                                <div class="col-sm-4">
                                    <blockquote>
                                        <p class="clients-words">“Thịt lợn hữu cơ Orfarm chất lượng tốt, thịt thơm, ngon hơn hẳn thịt lợn mua ngoài
                                            chợ. Dù mức giá cao gần 2 lần so với thịt lợn ngoài thị trường.”
                                        </p>
                                        <span class="clients-name text-primary">Chị Phương Thảo</span>
                                        <img class="img-circle img-thumbnail" src="/static/images/testi_03.jpg" alt="">
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </div>
                <!-- end container -->
            </section>
            <!-- end section -->

            <section class="section darkbg fullscreen paralbackground parallax" style="display: none; background-image: url(&quot;/static/images/shop_04.jpg&quot;); background-attachment: fixed; background-size: 1349px 899.067px;"
                data-img-width="1688" data-img-height="1125" data-diff="100">
                <div class="overlay customoverlay"></div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-5">
                            <div class="text-center image-center">
                                <img src="/static/images/device_03.png" alt="" class="img-responsive wow fadeInUp" style="visibility: hidden; animation-name: none;">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="videobg text-right">
                                <h1>Multipurpose Garden Template</h1>
                                <p>Full access control of the background video effects, just play with buttons below!
                                    <br>Letraset sheets containing Lorem Ipsum passages,</p>
                                <button class="btn btn-default">PURCHASE NOW</button>
                                <button class="btn btn-default">READ MORE</button>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end section -->

            <section class="section white" style="display:none;">
                <div class="container">
                    <div class="general-title text-center">
                        <h4>Our Plans &amp; Pricings</h4>
                        <p class="lead">Listed below our awesome plans</p>
                        <hr>
                    </div>
                    <!-- end general title -->

                    <div class="pricing-tables">
                        <div class="row">
                            <div class="col-sm-3 col-md-3">
                                <div class="plan">
                                    <div class="head">
                                        <h2>Starter</h2>
                                    </div>
                                    <div class="price">
                                        <h3>
                                            <span class="symbol">$</span>12</h3>
                                        <h4>per serving</h4>
                                    </div>
                                    <ul class="item-list">
                                        <li>
                                            <strong>Garden</strong> Service</li>
                                        <li>
                                            <strong>Forest</strong> Planning</li>
                                        <li>
                                            <strong>Garden</strong> Party</li>
                                        <li>
                                            <strong>Preparing</strong> Landscape</li>
                                        <li>
                                            <strong>Garde</strong> Fence</li>
                                    </ul>
                                    <button type="button" class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="plan">
                                    <div class="head">
                                        <h2>Business</h2>
                                    </div>
                                    <div class="price">
                                        <h3>
                                            <span class="symbol">$</span>24</h3>
                                        <h4>per serving</h4>
                                    </div>
                                    <ul class="item-list">
                                        <li>
                                            <strong>Garden</strong> Service</li>
                                        <li>
                                            <strong>Forest</strong> Planning</li>
                                        <li>
                                            <strong>Garden</strong> Party</li>
                                        <li>
                                            <strong>Preparing</strong> Landscape</li>
                                        <li>
                                            <strong>Garde</strong> Fence</li>
                                    </ul>
                                    <button type="button" class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="plan">
                                    <div class="head">
                                        <h2>Premium</h2>
                                    </div>
                                    <div class="price">
                                        <h3>
                                            <span class="symbol">$</span>48</h3>
                                        <h4>per serving</h4>
                                    </div>
                                    <ul class="item-list">
                                        <li>
                                            <strong>Garden</strong> Service</li>
                                        <li>
                                            <strong>Forest</strong> Planning</li>
                                        <li>
                                            <strong>Garden</strong> Party</li>
                                        <li>
                                            <strong>Preparing</strong> Landscape</li>
                                        <li>
                                            <strong>Garde</strong> Fence</li>
                                    </ul>
                                    <button type="button" class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="plan">
                                    <div class="head">
                                        <h2>Ultimate</h2>
                                    </div>
                                    <div class="price">
                                        <h3>
                                            <span class="symbol">$</span>92</h3>
                                        <h4>per serving</h4>
                                    </div>
                                    <ul class="item-list">
                                        <li>
                                            <strong>Garden</strong> Service</li>
                                        <li>
                                            <strong>Forest</strong> Planning</li>
                                        <li>
                                            <strong>Garden</strong> Party</li>
                                        <li>
                                            <strong>Preparing</strong> Landscape</li>
                                        <li>
                                            <strong>Garde</strong> Fence</li>
                                    </ul>
                                    <button type="button" class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </div>
                        <!-- row-->
                    </div>
                    <!-- pricing-tables -->
                </div>
                <!-- end container -->
            </section>
            <!-- end section -->

            <section class="section darkbg fullscreen paralbackground parallax" style="display:none; background-image: url(&quot;/static/images/shop_04.jpg&quot;); background-attachment: fixed; background-size: 1349px 899.067px;"
                data-img-width="1688" data-img-height="1125" data-diff="100">
                <div class="overlay lightoverlay"></div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <div class="contact-details">
                                <h2>FOR ONLINE APPOINTMENT PLEASE CALL US TODAY</h2>
                                <h1>+90 1234-567-890</h1>
                                <h2>Envato INC 22 Elizabeth Str. Melbourne Victoria 8777. Australia</h2>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end section -->

            <section class="section white">
                <div class="container">
                    <div class="general-title text-center">
                        <h4>Tin tức, Sự kiện</h4>
                        <p class="lead">Chúng tôi chia sẻ thông tin cho tất cả mọi người</p>
                        <hr>
                    </div>
                    <!-- end general title -->
                    <!--Widget-->
                    <div class="row">
                        <!--Blog-->
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 vmp_widget vmp_widget_news">
                                <h2 class="vmp_widget_title col-md-12">
                                    <a href="/tin-tuc" title="Tin tức - Sự kiện">Tin tức - Sự kiện</a>
                                </h2>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div>
                                        <a href="#" title="">
                                            <img src="http://cdn02.static-adayroi.com/resize/370_294/100/0/2018/07/26/1532593163216_8146688.jpg" alt="" class="vmp_news_thumb"
                                                style="max-width: 100%" />
                                        </a>
                                    </div>
                                    <div class="vmp_news_content vmp_news_highlight">
                                        <h3 class="vmp_news_title">
                                            <a href="#" title="TH&#212;NG B&#193;O DANH S&#193;CH KH&#193;CH H&#192;NG TR&#218;NG THƯỞNG &quot;ĐO&#193;N NH&#192; V&#212; ĐỊCH, DU LỊCH CH&#194;U &#194;U&quot;">TH&#212;NG B&#193;O DANH S&#193;CH KH&#193;CH H&#192;NG TR&#218;NG THƯỞNG &quot;ĐO&#193;N
                                                NH&#192; V&#212; ĐỊCH, DU LỊCH CH&#194;U &#194;U&quot;
                                            </a>
                                        </h3>
                                        <p class="vmp_news_summary">Ng&#224;y 24/07/2018, tại trụ sở c&#244;ng ty CP Thương mại dịch vụ tổng hợp Vincommerce;
                                            VinMart &amp; VinMart+ đ&#227; tổ chức chương tr&#236;nh lễ quay thưởng &quot;Đo&#225;n
                                            nh&#224; v&#244; địch, du lịch ch&#226;u &#194;u&quot;; d&#224;nh cho c&#225;c
                                            phiếu b&#236;nh chọn hợp lệ của kh&#225;ch h&#224;ng đ&#227; tới tham quan v&#224;
                                            mua sắm tại VinMart &amp; VinMart+ từ ng&#224;y 30/6/2018 đến hết 08/07/2018.</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 cf vmp_widget_body">
                                    <div class="row vmp_news_item cf">
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <a href="#" title="">
                                                <img src="http://cdn02.static-adayroi.com/resize/110_80/100/0/2018/07/11/1531285196983_1920627.jpg" alt="" class="vmp_news_thumb"
                                                />
                                            </a>
                                        </div>
                                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <h3 class="vmp_news_title">
                                                <a href="/tt/1513-vineco-gay-an-tuong-tai-cho-dau-moi-lon-nhat-the-gioi-tt" title="VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới">VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới</a>
                                            </h3>
                                            <p class="vmp_news_summary">L&#226;̀n đ&#226;̀u ti&#234;n tham gia “Tuần h&#224;ng N&#244;ng sản Việt Nam
                                                2018” diễn ra tại H&#244;̣i chợ Rungis (Pháp), c&#244;ng ty VinEco (thuộc
                                                tập đo&#224;n Vingroup) đ&#227; g&#226;y &#226;́n tượng mạnh mẽ khi là
                                                doanh nghi&#234;̣p trẻ nhưng có quy m&#244; và đ&#226;̀u tư bài bản
                                                cùng h&#234;̣ th&#244;́ng n&#244;ng sản đặc trưng hoàn toàn “made in
                                                Vietnam”.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row vmp_news_item cf">
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <a href="#" title="">
                                                <img src="http://cdn02.static-adayroi.com/resize/110_80/100/0/2018/07/11/1531285196983_1920627.jpg" alt="" class="vmp_news_thumb"
                                                />
                                            </a>
                                        </div>
                                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <h3 class="vmp_news_title">
                                                <a href="/tt/1513-vineco-gay-an-tuong-tai-cho-dau-moi-lon-nhat-the-gioi-tt" title="VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới">VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới</a>
                                            </h3>
                                            <p class="vmp_news_summary">L&#226;̀n đ&#226;̀u ti&#234;n tham gia “Tuần h&#224;ng N&#244;ng sản Việt Nam
                                                2018” diễn ra tại H&#244;̣i chợ Rungis (Pháp), c&#244;ng ty VinEco (thuộc
                                                tập đo&#224;n Vingroup) đ&#227; g&#226;y &#226;́n tượng mạnh mẽ khi là
                                                doanh nghi&#234;̣p trẻ nhưng có quy m&#244; và đ&#226;̀u tư bài bản
                                                cùng h&#234;̣ th&#244;́ng n&#244;ng sản đặc trưng hoàn toàn “made in
                                                Vietnam”.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row vmp_news_item cf">
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <a href="#" title="">
                                                <img src="http://cdn02.static-adayroi.com/resize/110_80/100/0/2018/07/11/1531285196983_1920627.jpg" alt="" class="vmp_news_thumb"
                                                />
                                            </a>
                                        </div>
                                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <h3 class="vmp_news_title">
                                                <a href="/tt/1513-vineco-gay-an-tuong-tai-cho-dau-moi-lon-nhat-the-gioi-tt" title="VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới">VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới</a>
                                            </h3>
                                            <p class="vmp_news_summary">L&#226;̀n đ&#226;̀u ti&#234;n tham gia “Tuần h&#224;ng N&#244;ng sản Việt Nam
                                                2018” diễn ra tại H&#244;̣i chợ Rungis (Pháp), c&#244;ng ty VinEco (thuộc
                                                tập đo&#224;n Vingroup) đ&#227; g&#226;y &#226;́n tượng mạnh mẽ khi là
                                                doanh nghi&#234;̣p trẻ nhưng có quy m&#244; và đ&#226;̀u tư bài bản
                                                cùng h&#234;̣ th&#244;́ng n&#244;ng sản đặc trưng hoàn toàn “made in
                                                Vietnam”.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row vmp_news_item cf">
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <a href="#" title="">
                                                <img src="http://cdn02.static-adayroi.com/resize/110_80/100/0/2018/07/11/1531285196983_1920627.jpg" alt="" class="vmp_news_thumb"
                                                />
                                            </a>
                                        </div>
                                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <h3 class="vmp_news_title">
                                                <a href="/tt/1513-vineco-gay-an-tuong-tai-cho-dau-moi-lon-nhat-the-gioi-tt" title="VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới">VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới</a>
                                            </h3>
                                            <p class="vmp_news_summary">L&#226;̀n đ&#226;̀u ti&#234;n tham gia “Tuần h&#224;ng N&#244;ng sản Việt Nam
                                                2018” diễn ra tại H&#244;̣i chợ Rungis (Pháp), c&#244;ng ty VinEco (thuộc
                                                tập đo&#224;n Vingroup) đ&#227; g&#226;y &#226;́n tượng mạnh mẽ khi là
                                                doanh nghi&#234;̣p trẻ nhưng có quy m&#244; và đ&#226;̀u tư bài bản
                                                cùng h&#234;̣ th&#244;́ng n&#244;ng sản đặc trưng hoàn toàn “made in
                                                Vietnam”.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--//Blog-->
                        <!--Fanpage-->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h2 class=" vmp_widget_title ">
                                    <a href="/tin-tuc " title="Khuyến mại ">Khuyến mại</a>
                                </h2>
                                <div class="row vmp_news_item cf ">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                                        <a href="# " title=" ">
                                            <img src="http://cdn02.static-adayroi.com/resize/110_80/100/0/2018/07/11/1531285196983_1920627.jpg
                                " alt=" " class="vmp_news_thumb " />
                                        </a>
                                    </div>
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                                        <h3 class="vmp_news_title ">
                                            <a href="/tt/1513-vineco-gay-an-tuong-tai-cho-dau-moi-lon-nhat-the-gioi-tt
                                " title="VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới ">VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới</a>
                                        </h3>
                                        <p class="vmp_news_summary ">L&#226;̀n đ&#226;̀u ti&#234;n tham gia “Tuần h&#224;ng N&#244;ng sản Việt Nam 2018”
                                            diễn ra tại H&#244;̣i chợ Rungis (Pháp), c&#244;ng ty VinEco (thuộc tập đo&#224;n
                                            Vingroup) đ&#227; g&#226;y &#226;́n tượng mạnh mẽ khi là doanh nghi&#234;̣p
                                            trẻ nhưng có quy m&#244; và đ&#226;̀u tư bài bản cùng h&#234;̣ th&#244;́ng
                                            n&#244;ng sản đặc trưng hoàn toàn “made in Vietnam”.
                                        </p>
                                    </div>
                                </div>
                                <div class="row vmp_news_item cf ">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                                        <a href="# " title=" ">
                                            <img src="http://cdn02.static-adayroi.com/resize/110_80/100/0/2018/07/11/1531285196983_1920627.jpg
                                " alt=" " class="vmp_news_thumb " />
                                        </a>
                                    </div>
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                                        <h3 class="vmp_news_title ">
                                            <a href="/tt/1513-vineco-gay-an-tuong-tai-cho-dau-moi-lon-nhat-the-gioi-tt
                                " title="VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới ">VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới</a>
                                        </h3>
                                        <p class="vmp_news_summary ">L&#226;̀n đ&#226;̀u ti&#234;n tham gia “Tuần h&#224;ng N&#244;ng sản Việt Nam 2018”
                                            diễn ra tại H&#244;̣i chợ Rungis (Pháp), c&#244;ng ty VinEco (thuộc tập đo&#224;n
                                            Vingroup) đ&#227; g&#226;y &#226;́n tượng mạnh mẽ khi là doanh nghi&#234;̣p
                                            trẻ nhưng có quy m&#244; và đ&#226;̀u tư bài bản cùng h&#234;̣ th&#244;́ng
                                            n&#244;ng sản đặc trưng hoàn toàn “made in Vietnam”.
                                        </p>
                                    </div>
                                </div>
                                <div class="row vmp_news_item cf ">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                                        <a href="# " title=" ">
                                            <img src="http://cdn02.static-adayroi.com/resize/110_80/100/0/2018/07/11/1531285196983_1920627.jpg
                                " alt=" " class="vmp_news_thumb " />
                                        </a>
                                    </div>
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                                        <h3 class="vmp_news_title ">
                                            <a href="/tt/1513-vineco-gay-an-tuong-tai-cho-dau-moi-lon-nhat-the-gioi-tt
                                " title="VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới ">VinEco g&#226;y ấn tượng tại chợ đầu mối lớn nhất thế giới</a>
                                        </h3>
                                        <p class="vmp_news_summary ">L&#226;̀n đ&#226;̀u ti&#234;n tham gia “Tuần h&#224;ng N&#244;ng sản Việt Nam 2018”
                                            diễn ra tại H&#244;̣i chợ Rungis (Pháp), c&#244;ng ty VinEco (thuộc tập đo&#224;n
                                            Vingroup) đ&#227; g&#226;y &#226;́n tượng mạnh mẽ khi là doanh nghi&#234;̣p
                                            trẻ nhưng có quy m&#244; và đ&#226;̀u tư bài bản cùng h&#234;̣ th&#244;́ng
                                            n&#244;ng sản đặc trưng hoàn toàn “made in Vietnam”.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--//Fanpage-->
                    </div>
                    <!--//Widget-->
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end section -->

            <section class="section white " style="display : none ">
                <div class="container ">
                    <div class="general-title text-center ">
                        <h4>Appointment Form</h4>
                        <hr>
                        <p class="lead ">Let's appointment now with our custom form</p>
                    </div>
                    <!-- end general title -->

                    <div class="row ">
                        <div class="col-md-8 ">
                            <div class="appoform-wrapper noborder ">
                                <form method="post ">
                                    <fieldset class="row-fluid appoform ">
                                        <div class="col-md-6 ">
                                            <label class="sr-only ">Appointment time</label>
                                            <input id="datepicker " type="text " placeholder="Appointment time
                                " class="form-control hasDatepicker ">
                                        </div>
                                        <div class="col-md-6 ">
                                            <label class="sr-only ">Your name</label>
                                            <input type="text " placeholder="Your full name * " class="form-control ">
                                        </div>
                                        <div class="col-md-6 ">
                                            <label class="sr-only ">Phone number</label>
                                            <input type="text " placeholder="Phone number * " class="form-control ">
                                        </div>
                                        <div class="col-md-6 ">
                                            <label class="sr-only ">Email address</label>
                                            <input type="email " placeholder="Email address * " class="form-control ">
                                        </div>
                                        <div class="col-md-6 ">
                                            <label class="sr-only ">Select Gardener</label>
                                            <select class="selectpicker bs-select-hidden " data-style="btn-white ">
                                                <option value="12 ">-- Select Gardener --</option>
                                                <option value="amanda ">Amanda JOE</option>
                                                <option value="mark ">Mark DOE</option>
                                            </select>
                                            <div class="btn-group bootstrap-select ">
                                                <button type="button " class="btn dropdown-toggle btn-white
                                " data-toggle="dropdown " title="-- Select Gardener -- ">
                                                    <span class="filter-option pull-left ">-- Select Gardener --</span>&nbsp;
                                                    <span class="caret "></span>
                                                </button>
                                                <div class="dropdown-menu open ">
                                                    <ul class="dropdown-menu inner " role="menu ">
                                                        <li data-original-index="0 " class="selected ">
                                                            <a tabindex="0 " class=" " style=" " data-tokens="null ">
                                                                <span class="text ">-- Select Gardener --</span>
                                                                <span class="glyphicon glyphicon-ok check-mark "></span>
                                                            </a>
                                                        </li>
                                                        <li data-original-index="1 ">
                                                            <a tabindex="0 " class=" " style=" " data-tokens="null ">
                                                                <span class="text ">Amanda JOE</span>
                                                                <span class="glyphicon glyphicon-ok check-mark "></span>
                                                            </a>
                                                        </li>
                                                        <li data-original-index="2 ">
                                                            <a tabindex="0 " class=" " style=" " data-tokens="null ">
                                                                <span class="text ">Mark DOE</span>
                                                                <span class="glyphicon glyphicon-ok check-mark "></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ">
                                            <label class="sr-only ">Select Service</label>
                                            <select class="selectpicker bs-select-hidden " data-style="btn-white ">
                                                <option value="12 ">-- Select Service --</option>
                                                <option value="12 ">Garden Watering</option>
                                                <option value="13 ">Preparing Landscape</option>
                                                <option value="15 ">Garden Fence</option>
                                                <option value="14 ">Garden Supplies</option>
                                            </select>
                                            <div class="btn-group bootstrap-select ">
                                                <button type="button " class="btn dropdown-toggle btn-white
                                " data-toggle="dropdown " title="-- Select Service -- ">
                                                    <span class="filter-option pull-left ">-- Select Service --</span>&nbsp;
                                                    <span class="caret "></span>
                                                </button>
                                                <div class="dropdown-menu open ">
                                                    <ul class="dropdown-menu inner " role="menu ">
                                                        <li data-original-index="0 " class="selected ">
                                                            <a tabindex="0 " class=" " style=" " data-tokens="null ">
                                                                <span class="text ">-- Select Service --</span>
                                                                <span class="glyphicon glyphicon-ok check-mark "></span>
                                                            </a>
                                                        </li>
                                                        <li data-original-index="1 ">
                                                            <a tabindex="0 " class=" " style=" " data-tokens="null ">
                                                                <span class="text ">Garden Watering</span>
                                                                <span class="glyphicon glyphicon-ok check-mark "></span>
                                                            </a>
                                                        </li>
                                                        <li data-original-index="2 ">
                                                            <a tabindex="0 " class=" " style=" " data-tokens="null ">
                                                                <span class="text ">Preparing Landscape</span>
                                                                <span class="glyphicon glyphicon-ok check-mark "></span>
                                                            </a>
                                                        </li>
                                                        <li data-original-index="3 ">
                                                            <a tabindex="0 " class=" " style=" " data-tokens="null ">
                                                                <span class="text ">Garden Fence</span>
                                                                <span class="glyphicon glyphicon-ok check-mark "></span>
                                                            </a>
                                                        </li>
                                                        <li data-original-index="4 ">
                                                            <a tabindex="0 " class=" " style=" " data-tokens="null ">
                                                                <span class="text ">Garden Supplies</span>
                                                                <span class="glyphicon glyphicon-ok check-mark "></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 ">
                                            <textarea placeholder="Add extra notes " class="form-control "> 
                                            
                                        </textarea>
                                        </div>
                                        <div class="col-md-12 ">
                                            <button type="reset " class="btn btn-primary btn-block btn-lg ">Send Now</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <!-- end form-container -->
                        </div>
                        <!-- end col -->
                        <div class="col-md-4 ">
                            <div class="workinghours ">
                                <ul>
                                    <li>Weekdays
                                        <span>9:00am - 7:00pm</span>
                                    </li>
                                    <li>Weekend
                                        <span>9:00am - 7:00pm</span>
                                    </li>
                                    <li>Phone
                                        <span>+90 534 970 00 00</span>
                                    </li>
                                    <li>Fax
                                        <span>+90 534 970 00 01</span>
                                    </li>
                                    <li>E-Mail
                                        <span>support@yoursite.com</span>
                                    </li>
                                    <li>Website
                                        <span>yoursite.com</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </section>
            <!-- end section -->

            <section class="callout-section grey " style="display:none; ">
                <div class="container ">
                    <div class="row callout text-left ">
                        <div class="col-md-7 ">
                            <h3>Tại sao lựa chọn dịch vụ của chúng tôi?</h3>
                            <p class="lead ">RAVI Sản xuất - cung cấp rau củ quả an toàn, hữu cơ. Cho phép kiểm tra, truy xuất nguồn gốc sản
                                phẩm. Tiên phong minh bạch nhật ký sản xuất trên website. Hotline: 0969501150</p>
                            <a href="# " class="btn btn-default ">Kết nối với chúng tôi</a>
                        </div>

                        <div class="col-md-5 hidden-xs hidden-sm ">
                            <div class="text-center image-center image-center2 ">
                                <img src="/static/images/woman.png " alt=" " class="img-responsive wow fadeInUp
                                " style="visibility: hidden; animation-name: none; ">
                            </div>
                        </div>
                    </div>
                    <!-- end callout -->
                </div>
                <!-- end container -->
            </section>
            <!-- end section -->

            <% include ../partials/footer %>

                <section class="copyright " style="display:none ">
                    <div class="container ">
                        <div class="row ">
                            <div class="col-md-6 text-left ">
                                <p>© 2018
                                    <a href="# " title="Show WP ">EzC team</a> All rights reserved</p>
                            </div>
                            <!-- end col -->
                            <!--<div class="col-md-6 text-right ">
                        <ul class="list-inline ">
                            <li><a href="# ">Terms of Usage</a></li>
                            <li><a href="# ">Privacy Policy</a></li>
                            <li><a href="# ">Sitemap</a></li>
                        </ul>
                    </div>-->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container -->
                </section>
                <!-- end section -->
    </div>
    <!-- end wrapper -->

    <style>
        .vmp_news_item {
            margin-bottom: 10px;
        }

        .vmp_news_item .col-md-4 {
            padding: 0px;
        }

        .vmp_news_thumb {
            border-radius: 5px;
            width: 100%;
        }


        .vmp_news_content {

            color: #333;
            /* font-family: 'Conv_SariVN', Tahoma, Geneva, Verdana, sans-serif; */
            font-family: "helveticaneue ", Arial, sans-serif;
        }

        .vmp_news_title {
            padding: 0;
            margin: 0 0 3px;
            line-height: 18px;
        }

        .vmp_news_title a:hover {
            color: #ec0a00;
        }

        .vmp_news_title a {
            /* font-family: Conv_SariVN-bold; */
            font-family: "helveticaneue ", Arial, sans-serif;
            font-size: 14px;
            font-weight: bold;
            color: #333;
        }

        .vmp_news_summary {
            font-size: 13px;
            color: #666;
            margin: 0;
            overflow: hidden;
            height: 55px;
            line-height: 1.428571429;
            /* font-family: 'Conv_SariVN', Tahoma, Geneva, Verdana, sans-serif; */
            font-family: "helveticaneue ", Arial, sans-serif;
        }

        .vmp_news_highlight .vmp_news_summary {
            height: unset;
        }
    </style>
    <style>
        .text-elippsis {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* styles for '...' */

        .block-with-text {
            /* hide text if it more than N lines  */
            overflow: hidden;
            /* for set '...' in absolute position */
            position: relative;
            /* use this value to count block height */
            line-height: 1.2em;
            /* max-height = line-height (1.2) * lines max number (3) */
            max-height: 3.6em;
            /* fix problem when last visible word doesn't adjoin right side  */
            text-align: justify;
            /* place for '...' */
            margin-right: -1em;
            padding-right: 1em;
        }

        /* create the ... */

        .block-with-text:before {
            /* points in the end */
            content: '...';
            /* absolute position */
            position: absolute;
            /* set position to right bottom corner of block */
            right: 0;
            bottom: 0;
        }

        /* hide ... if we have text, which is less than or equal to max lines */

        .block-with-text:after {
            /* points in the end */
            content: '';
            /* absolute position */
            position: absolute;
            /* set position to right bottom corner of text */
            right: 0;
            /* set width and height */
            width: 1em;
            height: 1em;
            margin-top: 0.2em;
            /* bg color = bg color under block */
            background: white;
        }
    </style>

    <script src="/static/js/retina.js "></script>
    <script src="/static/js/parallax.js "></script>
    <script src="/static/js/wow.js "></script>
    <script src="/static/js/carousel.js "></script>
    <script src="/static/js/custom.js "></script>

    <!-- SLIDER REV -->
    <script src="/static/js/jquery.themepunch.tools.min.js "></script>
    <script src="/static/js/jquery.themepunch.revolution.min.js "></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('.tp-banner').show().revolution(
                {
                    dottedOverlay: "none ",
                    delay: 4000,
                    startwidth: 1170,
                    startheight: 600,
                    hideThumbs: 200,
                    thumbWidth: 100,
                    thumbHeight: 50,
                    thumbAmount: 5,
                    navigationType: "none ",
                    navigationArrows: "solo ",
                    navigationStyle: "preview2 ",
                    touchenabled: "on ",
                    onHoverStop: "on ",
                    swipe_velocity: 0.7,
                    swipe_min_touches: 1,
                    swipe_max_touches: 1,
                    drag_block_vertical: false,
                    parallax: "mouse ",
                    parallaxBgFreeze: "on ",
                    parallaxLevels: [10, 7, 4, 3, 2, 5, 4, 3, 2, 1],
                    parallaxDisableOnMobile: "off ",
                    keyboardNavigation: "off ",
                    navigationHAlign: "center ",
                    navigationVAlign: "bottom ",
                    navigationHOffset: 0,
                    navigationVOffset: 20,
                    soloArrowLeftHalign: "left ",
                    soloArrowLeftValign: "center ",
                    soloArrowLeftHOffset: 20,
                    soloArrowLeftVOffset: 0,
                    soloArrowRightHalign: "right ",
                    soloArrowRightValign: "center ",
                    soloArrowRightHOffset: 20,
                    soloArrowRightVOffset: 0,
                    shadow: 0,
                    fullWidth: "on ",
                    fullScreen: "off ",
                    spinner: "spinner4 ",
                    stopLoop: "off ",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off ",
                    autoHeight: "off ",
                    forceFullWidth: "off ",
                    hideThumbsOnMobile: "off ",
                    hideNavDelayOnMobile: 1500,
                    hideBulletsOnMobile: "off ",
                    hideArrowsOnMobile: "off ",
                    hideThumbsUnderResolution: 0,
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    startWithSlide: 0,
                    fullScreenOffsetContainer: " "
                });
        });
    </script>

    <script src="/static/js/jquery-ui.js "></script>
    <script src="/static/js/jquery-ui-timepicker-addon.js "></script>
    <script src="/static/js/bootstrap-select.js "></script>

</body>

</html>