<!DOCTYPE html>
<!-- saved from url=(0034)http://showwp.com/demos/ws-garden/ -->
<html lang="en">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <title>WS Garden | A Garden Responsive HTML Template</title>

    <link rel="shortcut icon" href="http://showwp.com/demos/ws-garden/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-152x152.png">

    <link rel="stylesheet" type="text/css" href="/static/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">


    <!-- custom-->
    <link href="/static/css/san-pham/main1.css" rel="stylesheet" media="all">
    <link href="/static/css/san-pham/desktop.min.css" rel="stylesheet" media="all">
    <link href="/static/css/san-pham/mobile.min.css" rel="stylesheet" media="all">
    <link href="/static/css/san-pham/tablet.min.css" rel="stylesheet" media="all">

</head>

<body style="overflow: visible;">

    <div id="wrapper">
        
        <% include ../../partials/header %>

    </div>
    <section class="section">
        <div class="main-content">
            <div class="content">
                <div class="container detail-reorder">

                    <!-- Row slider + Giá bán -->
                    <div class="row m0 mt15 m-15mb">
                        <!-- Col left - SLider  -->
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 p0 pr10 p0mb ">
                            <!-- <div class="list-detail-xe" id="div-2nd"><div class="cols-5"><div class="detail-xe"><i class="icon-sprite icon-status"></i><b> Đã qua SD</b></div><div class="detail-xe"><i class="icon-sprite icon-dong-xe"></i><b> Toyota Vios</b></div></div><div class="cols-5"><div class="detail-xe"><i class="icon-sprite icon-km"></i><b> 14.000 km</b></div><div class="detail-xe"><i class="icon-sprite icon-nam-sx"></i><b> 2017</b></div></div><div class="cols-5"><div class="detail-xe"><i class="icon-sprite icon-hop-so"></i><b> Số sàn</b></div><div class="detail-xe"><i class="icon-sprite icon-dan-dong"></i><b> Một cầu</b></div></div><div class="cols-5"><div class="detail-xe"><i class="icon-sprite icon-nhien-lieu"></i><b> Xăng</b></div><div class="detail-xe"><i class="icon-sprite icon-mau-xe"></i><b> Trắng</b></div></div><div class="cols-5"><div class="detail-xe"><i class="icon-sprite icon-ng-ban"></i><b> Đại lý</b></div><div class="detail-xe"><i class="icon-sprite icon-xuat-xu"></i><b> Việt Nam</b></div></div></div> -->
                            <!-- <img src="template/img/slider-detail.png"> -->
                            <div class="slider-detail slider-detail-sold" id="div-1st">
                                <div class="sub-page">
                                    <div class="container"  style="width: 100%">
                                        <div class="sub-page-content">
                                            <div class="row">
                                                <div class="col-lg-content" style="width: 100%">
                                                    <div class="car-slider">
                                                        <div class="sync-slider">
                                                            <div class="slider-show">
                                                                <div class="item">
                                                                    <div class="img-wrap"><span class="sold-icon-car-detail bg-gray">Đã nhận cọc</span>
                                                                        <img src="/static/images/san-pham/1.jpg" alt="Toyota Vios E 1.5MT 2017" title="Toyota Vios E 1.5MT 2017" style="filter: gray; "></div>
                                                                </div>
                                                                <div class="item">
                                                                    <div class="img-wrap"><span class="sold-icon-car-detail bg-gray">Đã nhận cọc</span>
                                                                        <img src="/static/images/san-pham/2.jpg" alt="Toyota Vios E 1.5MT 2017" title="Toyota Vios E 1.5MT 2017" style="filter: gray; "></div>
                                                                </div>
                                                                <div class="item">
                                                                    <div class="img-wrap"><span class="sold-icon-car-detail bg-gray">Đã nhận cọc</span>
                                                                        <img src="/static/images/san-pham/1.jpg" alt="Toyota Vios E 1.5MT 2017" title="Toyota Vios E 1.5MT 2017" style="filter: gray; "></div>
                                                                </div>
                                                                <div class="item">
                                                                    <div class="img-wrap"><span class="sold-icon-car-detail bg-gray">Đã nhận cọc</span>
                                                                        <img src="/static/images/san-pham/2.jpg" alt="Toyota Vios E 1.5MT 2017" title="Toyota Vios E 1.5MT 2017" style="filter: gray; "></div>
                                                                </div>
                                                            </div>
                                                            <div class="slider-control hidden-xs">
                                                                <div class="item">
                                                                    <a class="img-wrap" data-index="0" href="javascript:void(0);"><img src="/static/images/san-pham/1.jpg" alt="Toyota Vios E 1.5MT 2017"
                                                                            title="Toyota Vios E 1.5MT 2017" style="filter: gray; "></a>
                                                                </div>
                                                                <div class="item">
                                                                    <a class="img-wrap" data-index="1" href="javascript:void(0);"><img src="/static/images/san-pham/2.jpg" alt="Toyota Vios E 1.5MT 2017"
                                                                            title="Toyota Vios E 1.5MT 2017" style="filter: gray; "></a>
                                                                </div>
                                                                <div class="item">
                                                                    <a class="img-wrap" data-index="2" href="javascript:void(0);"><img src="/static/images/san-pham/1.jpg" alt="Toyota Vios E 1.5MT 2017"
                                                                            title="Toyota Vios E 1.5MT 2017" style="filter: gray; "></a>
                                                                </div>
                                                                <div class="item">
                                                                    <a class="img-wrap" data-index="3" href="javascript:void(0);"><img src="/static/images/san-pham/2.jpg" alt="Toyota Vios E 1.5MT 2017"
                                                                            title="Toyota Vios E 1.5MT 2017" style="filter: gray; "></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-content">
                                    <div class="car-intro show-icons">
                                        <div class="full-content" id="tab-car-info" style="padding-left: 20px;">
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="car-detail-table">
                                                            <div class="line">
                                                                <div class="line-label">Tình trạng</div>
                                                                <div class="line-value">Đã qua SD</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Nhãn hiệu</div>
                                                                <div class="line-value">Toyota</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Model</div>
                                                                <div class="line-value">Vios E 1.5MT</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Số loại</div>
                                                                <div class="line-value" style="white-space: nowrap;">VIOS E NCP150L-BEMRKU</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Xuất xứ</div>
                                                                <div class="line-value">Lắp ráp trong nước Việt Nam</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Năm sản xuất</div>
                                                                <div class="line-value">2017</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Màu xe</div>
                                                                <div class="line-value">Trắng</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Màu nội thất</div>
                                                                <div class="line-value">Đen</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Kiểu dáng</div>
                                                                <div class="line-value">Sedans</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 car-info-right">
                                                        <div class="car-detail-table">
                                                            <div class="line">
                                                                <div class="line-label">Số chỗ ngồi</div>
                                                                <div class="line-value">5</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Số cửa</div>
                                                                <div class="line-value">4</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Dẫn động</div>
                                                                <div class="line-value">Một cầu</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Nhiên liệu</div>
                                                                <div class="line-value">Xăng</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Hộp số</div>
                                                                <div class="line-value">Số sàn</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Số km đã đi</div>
                                                                <div class="line-value">14.000</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Tình trạng sở hữu</div>
                                                                <div class="line-value">Tư nhân</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Đăng ký lần đầu</div>
                                                                <div class="line-value">1/2017</div>
                                                            </div>
                                                            <div class="line">
                                                                <div class="line-label">Chứng thực bởi</div>
                                                                <div class="line-value"><strong class="small-text">Anycar Việt Nam chuẩn ISO 9001:2008</strong></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                        <!-- Tab panes -->
                                    </div>
                                    <div class=""></div>
                                    <div class="visible-lg"></div>
                                </div>
                            </div>
                            <!-- End Col left - SLider  -->
                            <!-- Col right - Giá  -->
                            <!--<div class="col-xs-12 col-sm-4 p0 pl20">


                            </div>-->
                            <!-- End Col right - Giá  -->
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p0 pl20">
                            <div class="k-list-container playlist">
                                <ul id="listView" class="k-list k-widget k-listview k-selectable" data-role="listview" role="listbox">
                                    <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                        data-uid="867c82c9-a7e9-4195-a107-5b81606d783e" role="option" aria-selected="false">
                                        <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Telerik Platform - Enterprise Mobility. Unshackled.</h5>
                                    </span>
                                    </li>

                                    <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                        data-uid="23952d40-c05d-46f1-b87e-c72f2a0b4d3b" role="option" aria-selected="false">
                                        <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Learn How York Solved Its Database Problem</h5>
                                    </span>
                                    </li>

                                    <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                        data-uid="378a7850-51c0-4c7d-86b2-0ea2e33cb2d2" role="option" aria-selected="false">
                                        <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Responsive Website Delivers for Reeves Import Motorcars</h5>
                                    </span>
                                    </li>

                                    <li class="k-item k-state-default k-state-selected" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                        data-uid="7897fe0f-f550-4d5d-a333-ffcf175072c2" role="option" aria-selected="true">
                                        <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Digital Transformation: A New Way of Thinking</h5>
                                    </span>
                                    </li>

                                    <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                        data-uid="30c68b94-fffa-4493-9948-7b70ec702c18" role="option" aria-selected="false">
                                        <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Take a Tour of the Telerik Platform</h5>
                                    </span>
                                    </li>

                                    <li class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')" onmouseout="$(this).removeClass('k-state-hover')"
                                        data-uid="8aee313d-4077-437b-9db0-60de0f65e0a8" role="option" aria-selected="false">
                                        <span>
                                        <img src="/static/images/san-pham/1.jpg">
                                        <h5>Why Telerik Analytics - Key Benefits For Your Applications</h5>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                   <div class="col-md-6 col-sm-6 col-xs-6">
                                       <a href="#" class="buy-now">Button</a>
                                   </div>
                                   <div class="col-md-6 col-sm-6 col-xs-6">
                                       <a href="#" class="buy-now">Button1</a>
                                   </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <hr>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="section white">
        <div class="container">
            <div class="shop-top row clearfix">
                <div class="title-area pull-left">
                    <h3>Related product</h3>
                </div>
                <!-- /.pull-right -->
                <div class="pull-right">
                    <select class="selectpicker bs-select-hidden" data-style="btn-primary">
                            <option value="menu_order">Default sorting</option>
                            <option value="popularity">Sort by popularity</option>
                            <option value="rating">Sort by average rating</option>
                            <option value="date">Sort by newness</option>
                            <option value="price">Sort by price: low to high</option>
                            <option value="price-desc">Sort by price: high to low</option> 
                        </select>
                    <div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" title="Default sorting"><span class="filter-option pull-left">Default sorting</span>&nbsp;<span class="caret"></span></button>
                        <div
                            class="dropdown-menu open">
                            <ul class="dropdown-menu inner" role="menu">
                                <li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Default sorting</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                <li
                                    data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sort by popularity</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    <li
                                        data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sort by average rating</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        <li
                                            data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sort by newness</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li
                                                data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sort by price: low to high</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li
                                                    data-original-index="5"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Sort by price: high to low</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                            </ul>
                    </div>
                </div>
            </div>
            <!-- /.pull-right -->
        </div>
        <!-- end shop top -->

        <div class="row">
            <div id="content" class="col-md-12 col-sm-12 col-xs-12">
                <div class="blog-wrapper">
                    <div class="row module-wrapper shop-layout text-center">
                        <div class="col-md-3 col-sm-3 shop-item">
                            <div class="entry">
                                <img class="img-responsive" src="/static/images/san-pham/shop_01.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="http://showwp.com/demos/ws-garden/shop-checkout.html"><span class="fa fa-shopping-cart"></span></a>
                                        <a class="st" rel="bookmark" href="http://showwp.com/demos/ws-garden/shop-single.html"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                                <!-- end magnifier -->
                            </div>
                            <!-- end entry -->
                            <h4><a href="http://showwp.com/demos/ws-garden/shop-single.html">Green Shovel </a></h4>
                            <small>$21.00</small>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>(12)</span>
                            </div>
                        </div>
                        <!-- end shop_item -->

                        <div class="col-md-3 col-sm-3 shop-item">
                            <div class="entry">
                                <img class="img-responsive" src="/static/images/san-pham/shop_02.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="http://showwp.com/demos/ws-garden/shop-checkout.html"><span class="fa fa-shopping-cart"></span></a>
                                        <a class="st" rel="bookmark" href="http://showwp.com/demos/ws-garden/shop-single.html"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                                <!-- end magnifier -->
                            </div>
                            <!-- end entry -->
                            <h4><a href="http://showwp.com/demos/ws-garden/shop-single.html">Water Filling Cans</a></h4>
                            <small>$21.00</small>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span>(3)</span>
                            </div>
                        </div>
                        <!-- end shop_item -->

                        <div class="col-md-3 col-sm-3 shop-item">
                            <div class="entry">
                                <img class="img-responsive" src="/static/images/san-pham/shop_03.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="http://showwp.com/demos/ws-garden/shop-checkout.html"><span class="fa fa-shopping-cart"></span></a>
                                        <a class="st" rel="bookmark" href="http://showwp.com/demos/ws-garden/shop-single.html"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                                <!-- end magnifier -->
                            </div>
                            <!-- end entry -->
                            <h4><a href="http://showwp.com/demos/ws-garden/shop-single.html">Custom Yellow Pot</a></h4>
                            <small>$21.00</small>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>(6)</span>
                            </div>
                        </div>
                        <!-- end shop_item -->

                        <div class="ccol-md-3 col-sm-3 shop-item">
                            <div class="entry">
                                <img class="img-responsive" src="/static/images/san-pham/shop_04.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="http://showwp.com/demos/ws-garden/shop-checkout.html"><span class="fa fa-shopping-cart"></span></a>
                                        <a class="st" rel="bookmark" href="http://showwp.com/demos/ws-garden/shop-single.html"><span class="fa fa-link"></span></a>
                                    </div>
                                </div>
                                <!-- end magnifier -->
                            </div>
                            <!-- end entry -->
                            <h4><a href="http://showwp.com/demos/ws-garden/shop-single.html">Dual-Batch Compost Tumbler </a></h4>
                            <small>$21.00</small>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span>(22)</span>
                            </div>
                        </div>
                        <!-- end shop_item -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end blog-wrapper -->

            </div>
            <!-- end content -->
        </div>
        <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end section -->

    <% include ../../partials/footer %>
    <style>
        .k-mediaplayer {
            float: left;
            box-sizing: border-box;
            width: 70%;
        }
        
        .playlist {
            float: left;
            height: 400px;
            overflow: auto;
            /*width: 30%;*/
        }
        
        @media(max-width: 800px) {
            .playlist,
            .k-mediaplayer {
                width: 100%;
            }
        }
        
        .playlist ul,
        .playlist li {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        .playlist .k-item {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            padding: 14px 15px;
        }
        
        .playlist .k-item:last-child {
            border-bottom-width: 0;
        }
        
        .playlist span {
            cursor: pointer;
            display: block;
            overflow: hidden;
            text-decoration: none;
        }
        
        .playlist span img {
            border: 0 none;
            display: block;
            height: 56px;
            object-fit: cover;
            width: 100px;
            float: left;
        }
        
        .playlist h5 {
            display: block;
            font-weight: normal;
            margin: 0;
            overflow: hidden;
            padding-left: 10px;
            text-align: left;
        }
    </style>
    <style>
        .widget-body,
        .price-table widget,
        .preview-form,
        .new-content,
        .car-detail-table {
            font-family: Proxima Nova;
        }
    </style>



    <script src="/static/js/san-pham/jquery.min.js"></script>
    <script src="/static/js/san-pham/owl.carousel.min.js"></script>
    <script src="/static/js/san-pham/detail.min.js"></script>
    <script src="/static/js/san-pham/san-pham.js"></script>

</body>

</html>