<!DOCTYPE html>
<!-- saved from url=(0034)http://showwp.com/demos/ws-garden/ -->
<html lang="en">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <title>WS Garden | A Garden Responsive HTML Template</title>

    <link rel="shortcut icon" href="http://showwp.com/demos/ws-garden/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://showwp.com/demos/ws-garden/images/apple-touch-icon-152x152.png">

    <link rel="stylesheet" type="text/css" href="/static/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">

</head>

<body style="overflow: visible;">

    <div id="wrapper">


        <% include ../../partials/header %>

    </div>
    <section class="section white">
        <div class="container">
            <div class="row">
                <div id="content" class="col-md-8 col-sm-12 col-xs-12">
                    <div id="article-container"></div>
                    <hr class="invis">

                    <div class="pagination-holder black clearfix">
                        <ul id="pagination" class="pagination"></ul>
                    </div>
                </div>
                <!-- end content -->

                <div id="sidebar" class="col-md-4 col-sm-12 col-xs-12">

                    <div class="widget">
                        <div class="widget-title">
                            <h4>Tin tức nổi bật</h4>
                            <hr>
                        </div>
                        <!-- end title -->

                        <div class="recent-post-widget">
                            <ul class="recent-posts" id="recent-article-container">

                            </ul>
                            <!-- end latest-tweet -->
                        </div>
                        <!-- end twitter-widget -->
                    </div>
                    <!-- end widget -->

                    <div class="widget">
                        <div class="widget-title">
                            <h4>Sản phẩm nổi bật</h4>
                            <hr>
                        </div>
                        <!-- end title -->

                        <div class="recent-post-widget">
                            <ul class="recent-posts" id="recent-product-container">

                            </ul>
                            <!-- end latest-tweet -->
                        </div>
                        <!-- end twitter-widget -->
                    </div>
                    <!-- end widget -->
                </div>
                <!-- end content -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end section -->
    <% include ../../partials/footer %>
        <style>
            /* styles for '...' */
            
            .block-with-text {
                /* hide text if it more than N lines  */
                overflow: hidden;
                /* for set '...' in absolute position */
                position: relative;
                /* use this value to count block height */
                line-height: 1.2em;
                /* max-height = line-height (1.2) * lines max number (3) */
                max-height: 3.6em;
                /* fix problem when last visible word doesn't adjoin right side  */
                text-align: justify;
                /* place for '...' */
                margin-right: -1em;
                padding-right: 1em;
            }
            /* create the ... */
            
            .block-with-text:before {
                /* points in the end */
                content: '...';
                /* absolute position */
                position: absolute;
                /* set position to right bottom corner of block */
                right: 0;
                bottom: 0;
            }
            /* hide ... if we have text, which is less than or equal to max lines */
            
            .block-with-text:after {
                /* points in the end */
                content: '';
                /* absolute position */
                position: absolute;
                /* set position to right bottom corner of text */
                right: 0;
                /* set width and height */
                width: 1em;
                height: 1em;
                margin-top: 0.2em;
                /* bg color = bg color under block */
                background: white;
            }
        </style>
        <script src="/static/js/san-pham/owl.carousel.min.js"></script>
        <script src="/static/js/san-pham/detail.min.js"></script>
        <script src="/static/js/tin-tuc/tin-tuc.js"></script>
        <script src="/static/js/jquery.simplePagination.js"></script>
</body>

</html>